:root {
  --bgc:#EEEEEF; 
  --header: #10BBD5;
  --bg-category: #FFF;
  --button-add: #4C394E;
  --button-add-hover: #744978;
  --button-end: #4D762D;
  --button-end-hover: #6DB236;
  --white: #F8FDFE;
  --price: #E90000;
  --gray: #8E8E8E;
  --black: #1F1F1F;
  --new: #AF39E7;
  --hit: #4200FF;
  --off:#EA33C0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bgc);
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  .container {
    width: 1296px;
    margin: 0 auto;
  }
  .header-logo {
    background-color: var(--header);
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: 1;

    .container {
      &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .logo-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
          color: var(--white);
        }

        .cart {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-right: 8px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        
          .cart-img {
            background-image: url(/images/cart_icon.svg);
            height: 40px;
            width: 40px;
            border: none;
            background-color: #10BBD5;
            padding: 12px 12px 18px 18px;
            font-family: Cabin;
            font-size: 12px;
            font-weight: 400;
            line-height: 10px;
          }
        }
      } 
    }
  }
  .header-category {
    background-color: var(--white);
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 0px;
    width: 100%;
    z-index: 1;

    .container{
      &__header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      
      nav {

        ul {
          display: flex;
          flex-direction: row;
          gap: 40px;
          list-style: none;

          li {
            a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}
}
  .main {
    margin-top: 136px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 

    .btn-chat {
      position: fixed;
      width: 64px;
      height: 64px;
      border: none;
      bottom: 8px;
      right: 28px;
      border-radius: 50%;
      background-color: var(--header);
      background-image: url(/images/chat.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    .btn-chat:hover {
      background-image: url(/images/icon.svg);
      background-position: center;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      border-bottom: 1px solid var(--gray);
      padding-bottom: 24px;
    }

    .product-card {
      &__list {
        padding-top: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        gap: 22px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
      }
        &__item {
          height: 512px; 
          background-color: var(--white);
          border: solid 1px var(--gray);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .content {
          width: 242px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          justify-content: center;
          gap: 16px;
          text-decoration: none;
          color: var(--black);
        
            &__book-cover {
              width: 178px;
              height: 280px;
              background-size: cover; 
              margin: 0 auto;
            }
            .book-cover-one {
              background-image: url(/images/image.svg);
            }
            .book-cover-two {
              background-image: url(/images/image-2.svg);
            }
            .book-cover-three {
              background-image: url(/images/image-3.svg);
            }
            .book-cover-four {
              background-image: url(/images/image-4.svg);
            }
            .book-cover-five {
              background-image: url(/images/image-5.svg);
            }
            .book-cover-six {
              background-image: url(/images/image-6.svg);
            }
            .book-cover-seven {
              background-image: url(/images/image-7.svg);
            }
            .book-cover-eight {
              background-image: url(/images/image-8.svg);
            }
            .book-cover-nine {
              background-image: url(/images/image-9.svg);
            }
            .book-cover-ten {
              background-image: url(/images/image-10.svg);
            }
            .book-cover-eleven {
              background-image: url(/images/image-11.svg);
            }
            .book-cover-twelve {
              background-image: url(/images/image-12.svg);
            }
          
          .badge {
            display: flex;
            flex-direction: row;
            justify-content: start;
            position: absolute;
            gap: 4px;
            color: var(--white);
            z-index: 0;
          
            &__hit {
              border-radius: 4px;
              padding: 4px 8px;
              width: fit-content;
              background-color: var(--hit);
            }

            &__new {
              border-radius: 4px;
              padding: 4px 8px;
              width: fit-content;
              background-color: var(--new);
            }

            &__sale {
              border-radius: 4px;
              padding: 4px 8px;
              width: fit-content;
              background-color: var(--off);
            }
          }
        }
          &__title-author {
            .title {
              color: var(--black);
              white-space: nowrap; 
              text-overflow: ellipsis; 
              overflow: hidden; 
              width: 242px; 
              font-size: 20px;
              font-weight: 700;
              line-height: 28px; 
              border-bottom: 1px solid #A8A8A8;
            }
            .author {
              color: var(--gray);
              padding-bottom: 8px;
            }
          }
          &__price {
            display: flex;
            flex-direction: row;
            gap: 24px;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px; 

          .price {
            width: fit-content;
            color: var(--price);
          }
          .sale {
            width: fit-content;
            color: var(--gray);
            text-decoration-line: line-through;
            text-decoration-thickness: 1px;
          }
        }
        .btn{
          width: 100%;
            padding: 8px 24px;
            color: var(--white);
            border-radius: 4px;
            border: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
          .btn-add-to-cart {
            background-color: var(--button-add);
          }
          .btn-add-to-cart:hover {
            background-color: var(--button-add-hover);
          }
          .btn-end-up{
            background-color: var(--button-end);
          }
          .btn-end-up:hover{
            background-color: var(--button-end-hover);
          }
        }
      }
    .footer {
      margin-top: 120px;
      height: 88px;
      background-color: var(--button-add);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      
      .container__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
}
